# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
eas.json

# temp folders
temp-expo-test/
# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Allow specific android customizations for Health Connect & KSP
!/android/app/src/main/AndroidManifest.xml
!/android/app/src/main/java/com/david/nutritrack/MainActivity.kt
!/android/app/src/main/res/values/strings.xml
!/android/app/proguard-rules.pro
!/android/gradle/init.d/force-ksp.gradle
!/android/app/build.gradle
!/android/build.gradle
!/android/gradle.properties
!/android/settings.gradle
!/android/gradlew
!/android/gradlew.bat
!/android/gradle/wrapper/gradle-wrapper.properties
!/android/gradle/wrapper/gradle-wrapper.jar
!/android/app/google-services.json
!/android/app/debug.keystore
